@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 400px;
    display: flex;
    width: 90vw;
    gap: 10px;
}

.card {
    flex: 1;
    overflow: hidden;
    border-radius: 50px;
    background-position: center;
    position: relative;
    transition: flex 1s ease-in;
}

.card:nth-of-type(1) {
    background-image: url(images/bike-red-1423575.jpg)
}

.card:nth-of-type(2) {
    background-image: url(images/green-frog-1361810.jpg)
}

.card:nth-of-type(3) {
    background-image: url(images/little-roberto-and-vitoria-1177528.jpg)
}

.card:nth-of-type(4) {
    background-image: url(images/nuclear-power-plant-1314782.jpg)
}

.card:nth-of-type(5) {
    background-image: url(images/side-view-of-silhouette-of-woman-resting-on-surfing-board-in-ocean-on-sunset-4455073.jpg)
}

.card:nth-of-type(6) {
    background-image: url(images/yellow-frontal-with-ivy-1228121.jpg)
}

.card.active {
    flex: 5;
}

.card h1 {
    color: whitesmoke;
    position: absolute;
    bottom: 5%;
    left: 15%;
    background-color: rgba(220, 220, 220, 0.504);
    border-radius: 10px;
    opacity: 0;
    transition: opacity .5s ease-in .3s;
}

.card.active h1 {
    opacity: 1;
}